.footer {
  background-color: #282c34;
    height: 400px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* border: pink 2px solid */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* border: green 3px solid; */
}

.main-container {
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-right: auto;    
    margin-left: auto;
    justify-content: flex-start;
    /* border: yellow 2px solid; */
}

.footer-icon {
    margin-left: 3px;
    margin-top: 0px;
    padding-bottom: 0px;
    color: yellow;
    font-size: 2vw;
    width: 30%;
    /* border: pink 3px solid; */
    height:fit-content;

}

.footer-title {
    color: yellow;
    font-size: 1.5vw;
    margin-top: 39px;
    margin-left: 5px;
    font-family: 'Coming Soon', cursive;
    width: 60%;
    /* border: orange 3px solid; */
    margin-bottom: 0px;
    padding-bottom: 0px;
    height:fit-content;
}

.arrow-and-brand {
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    /* border: grey 2px solid; */
}

.brand-description {
    width:100%;
    color:#cee7fd;
    margin-top: -150px;
    padding-top: 0px;
    padding-left:2px;
    padding-right: 18px;
    /* border: white 2px solid; */
    height:fit-content

}

