.navbar {
  background-color: #282c34;
    height: 80px;
    display: flex;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* border: pink 2px solid */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.main-container {
    z-index: 1;
    width: 100%;
    margin-right: auto;    
    margin-left: auto;
    justify-content: flex-start;
}

.navbar-icon {
    margin-left: 2px;
    margin-top: 3px;
    color: yellow;
    font-size: 3vw;
    width: 3%;
}

.nav-title {
    color: yellow;
    /* font-size: 10px; */
    margin-top: 6px;
    font-family: 'Coming Soon', cursive;
    ;
    width: 12%;
}

.nav-menu {
    font-size: 1.3vw;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 70%;

}

.nav-item {
    border-bottom: 2px solid transparent;
    flex-direction: column;
    text-align: center;
}

.nav-item:hover {
    transition: all ease-in 0.3s;
    color: yellow;
    border-bottom: 2px solid yellow;
}

.nav-link {
    color: #cee7fd;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.nav-link:hover {
    color:yellow;
    transition: 0.3s;
}

.nav-link:visited {
    color: #cee7fd;
}

.nav-link:hover:visited {
    color: yellow;
    transition: all ease-in 0.3s;
}

.nav-title {
    color: yellow;
    font-size: 1.5vw;
    margin-top: 25px;
    font-family: 'Coming Soon', cursive;
    ;
}

.login-menu {
    display: flex;
    font-size: 1.2vw;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 17%;
}

.login-item {
    display: flex;
    margin-top: 22px;
    width: 30%;
    border-bottom: 2px solid transparent;
    flex-direction: column;
    text-align: center;
    background-color: black;
    border-radius: 40%;
    height:50%;
    align-items: center;
}

.login-item:hover {
    transform: scale(1.14);
    color: yellow;
    box-shadow: 0 0 28px 10px black;
}

.login-link {
    color: #f7ed9a;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.login-link:hover {
    color: yellow;
}

.login-link:visited {
    color: #f7ed9a;
}

.login-link:hover:visited {
    color: yellow;
  }

  
.register-item {
    display: flex;
    margin-top: 22px;
    width: 30%;
    border-bottom: 2px solid transparent;
    flex-direction: column;
    text-align: center;
    background-color: #f7ed9a;
    border-radius: 40%;
    height:50%;
    align-items: center;
}

.register-item:hover {
    transform: scale(1.14);
    color: darkblue;
    box-shadow: 0 0 28px 10px #f7ed9a;
}

.register-link {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
}

.register-link:hover {
    color: darkblue;
}

.register-link:visited {
    color: black;
}

.register-link:hover:visited {
    color: darkblue;
  }